<%include partials/header.ejs%>
<div class="row">
    <%=user%>
    <h1><%=user.firstname %><%= user.lastname %><h1>
   <%=wallet.balance %>
    <%=user.username %>
</div>
<%include partials/footer.ejs%>